* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register111 {
    width: 850px;
    background: antiquewhite;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px #000;
    position: absolute;
    left: 250px;
}

    .form-register111 h1 {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
    }

.controls {
    width: 50%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.controls2 {
    width: 30%;
    background: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 5px solid #1f53c5;
    font-family: 'calibri';
    font-size: 15px;
    color: black;
    position: absolute;
    top: 150px;
    left: 500px;
}

.controls3 {
    width: 30%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
}

.no-order11 div.checkbox {
    float: left;
    width: 33%;
    margin-bottom: 20px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

    .form-register a:hover {
        color: white;
        text-decoration: underline;
    }

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.ubs h3 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}


.no-order11 h2 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.alinear {
    text-align: center;
}

input[type=checkbox] {
    margin: 10px !important;
}



.btn-grad {
    background-image: linear-gradient(to right, #348F50 0%, #56B4D3 51%, #348F50 100%)
}

.btn-grad {
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    position: relative;
    top: 50%;
    left: 40%;
}

    .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
        
    }
