@font-face {
    font-family: GothamBook;
    src: url(Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: GothamMedium;
    src: url(Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: MontserratBold;
    src: url(Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: MontserratRegular;
    src: url(Montserrat-Regular.ttf) format('truetype');
}